.vacancy {
  @include flex-column-center;
  width: 1080px;
  border-radius: 52px;
  padding: 60px 40px;
  background: #ffffff;
  align-items: flex-start;
  box-shadow: 0px 4px 21px rgba(206, 33, 64, 0.25);
  border-radius: 52px;
  margin: 40px 0;
  position: relative;
  &__title {
    margin: 15px 10px;
    margin-top: -25px;
    font-size: 36px;
    font-weight: 700;
    font-family: "Montserrat Alternates", sans-serif;
    text-shadow: 0px 4px 6px rgba(206, 33, 64, 0.31);
  }
  &__description {
    margin-left: 10px;
    width: 75%;
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 25px;
  }
  &__controls {
    margin-bottom: -30px;
    width: 100%;
    margin-left: 10px;
    @include flex-center;
    justify-content: space-between;
  }
  &__save {
    color: #e43050;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    font-size: 22px;
    font-weight: 400;
    cursor: pointer;
    font-family: "Montserrat Alternates", sans-serif;
    outline: none;
  }
  &__send {
    @include flex-center;
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: bold;
    padding: 15px 20px;
    font-size: 18px;
    background: #e43050;
    box-shadow: 0px 4px 12px rgba(206, 33, 64, 0.31);
    border-radius: 17px;
    color: #fff;
    cursor: pointer;
    border: none;
    outline: none;
  }
  &__cover {
    position: absolute;
    right: 50px;
    top: 35px;
    width: 100px;
    height: 100px;
    background-color: #000;
    border-radius: 50%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  &__container {
    margin: 60px 0;
    padding-bottom: 60px;
    @include flex-column-center;
    width: 1500px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 101px;
    &--header {
      width: 90%;
      margin-top: 70px;
      margin-bottom: 20px;
      user-select: none;
      cursor: context-menu;
      font-size: 36px;
      font-weight: 600;
      color: #e43050;
      font-family: "Montserrat Alternates", sans-serif;
      text-shadow: 0px 4px 6px rgba(206, 33, 64, 0.31);
    }
  }
}
