@media (max-width: 1700px) {
  .dropmenu {
    right: -40px;
  }
  .slider {
    width: 1100px;
    &__wrapper {
      width: 1300px;
    }
    &__content {
      min-width: 1100px;
    }
  }
  .event {
    &__container {
      width: 1300px;
    }
  }
  .vacancy {
    &__container {
      width: 1300px;
    }
  }
  .page__wrapper-box {
    flex-direction: column;
    align-items: center;
  }
  .page__wrapper-item {
    margin: 0px;
  }
}
@media (max-width: 1500px) {
  .dropmenu {
    right: -50px;
  }
  .slider {
    width: 1000px;
    &__wrapper {
      width: 1100px;
    }
    &__content {
      min-width: 1000px;
    }
  }
  .event {
    &__container {
      width: 1100px;
    }
    &__controls {
      margin-top: 50px;
    }
    width: 960px;
  }
  .vacancy {
    &__container {
      width: 1100px;
    }
    width: 960px;
  }
  .userbar__search--input {
    width: 90%;
  }
}
@media (max-width: 1300px) {
  .slider {
    width: 900px;
    &__wrapper {
      width: 1000px;
    }
    &__content {
      min-width: 900px;
    }
  }
  .event {
    &__container {
      width: 1000px;
    }
    align-items: center;

    &__cover {
      margin-top: 0;
      min-width: 320px;
      height: 320px;
    }
    width: 860px;
  }
  .vacancy {
    &__container {
      width: 1000px;
    }
    width: 860px;
  }
}
@media (max-width: 1200px) {
  .slider {
    width: 800px;
    &__wrapper {
      width: 900px;
    }
    &__content {
      min-width: 800px;
    }
  }
  .event {
    &__container {
      width: 900px;
    }
    width: 760px;
  }
  .vacancy {
    &__container {
      width: 900px;
    }
    width: 760px;
  }
}
@media (max-width: 1100px) {
  .navbar {
    display: none;
  }
  .slider {
    width: 800px;
    &__wrapper {
      width: 900px;
    }
    &__content {
      min-width: 800px;
    }
  }
  .event {
    &__container {
      border-radius: 40px;
      width: 900px;
    }
    width: 760px;
  }
  .vacancy {
    &__container {
      width: 900px;
      border-radius: 40px;
    }
    width: 760px;
  }
  .userbar__search--input {
    width: 85%;
  }
}
@media (max-width: 900px) {
  .footer {
    &__wrapper {
      flex-direction: column;
      & h3 {
        font-size: 14px;
      }
      & h3:first-child {
        position: absolute;
        bottom: 40px;
      }
      & h3:nth-child(3) {
        margin-top: 20px;
      }
    }
  }
  .calendar {
    padding-top: 30px;
    margin: 20px auto;
    &__day--container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(3, 1fr);
    }
    height: auto;
    width: 500px;
  }
  .calendar__month{
    left: 50%;
    top: 15px;
    transform: translateX(-50%);
    font-weight: bold;
    }
  .navbar {
    display: none;
  }
  .slider {
    * {
      border-radius: 0;
    }
    width: 100vw;
    &__content {
      min-width: 100vw;
    }
    &__wrapper {
      background-color: rgba(0, 0, 0, 0);
      width: 100vw;
    }
  }
  .event {
    margin-top: 100px;
    width: 560px;
    flex-direction: column;
    height: 640px;
    * {
      margin-left: 0;
    }
    &__content {
      @include flex-column-center;
      text-align: center;
    }
    &__controls {
      width: 350px;
    }
    &__cover {
      margin-top: -60px;
      min-height: 320px;
    }
    &__container {
      width: 700px;
    }
  }
  .activities {
    width: 660px;
    &__event {
      margin-top: 50px;
      width: 560px;
      flex-direction: column;
      height: 640px;
      * {
        margin-left: 0;
      }
      &--content {
        height: 50%;
        @include flex-column-center;
        text-align: center;
      }
      &--controls {
        width: 350px;
      }
      &--cover {
        margin-top: -60px;
        height: 320px;
        width: 320px;
      }
      &--title {
        margin-top: -55px;
      }
      &--container {
        width: 700px;
      }
    }
  }
  .vacancy {
    text-align: center;
    align-items: center;
    width: 560px;
    &__container {
      width: 700px;
    }

    &__description {
      width: 100%;
      margin-left: 0;
    }
    &__cover {
      position: relative;
      top: 0;
      margin: 20px;
      margin-top: 0;
      right: 0;
    }
  }
  .userbar__container {
    display: none;
  }
}
.event__join--svg {
  margin-left: 10px;
}
@media (max-width: 700px) {
  .event {
    &__container {
      width: 500px;
    }
    &__discuss {
      width: 55px;
      height: 55px;
    }
    &__join {
      font-size: 16px;
      padding: 10px 15px;
    }
    &__controls {
      margin-top: 20px;
      width: 320px;
    }
    width: 360px;
  }
  .vacancy {
    &__container {
      width: 500px;
    }
    width: 360px;
  }
  .proposal__saved {
    width: 500px;
  }
  .documents {
    flex-direction: column;
    &__container {
      width: 500px;
    }
    margin-bottom: 10px;
  }
  .profile {
    width: 500px;
  }
  .activities {
    @include flex-column-center;
    &__title{
        margin-left: 0;
    }
    &__date{
        margin-left: 0;
    }
    width: 550px;
    margin: 10px auto; 
    &__event {
      width: 450px;
    }
  }
}
.page__wrapper-box {
  justify-content: center;
}
@media (max-width: 500px) {
    .calendar{
        width: 380px;
    }
    .calendar__day{
        width: 50px;
        height: 80px;
        &--container{
            margin: 15px;
        }
    }
    .calendar__label--date{
        width: 50px;
        height: 50px;
    }
    .activities__event--controls{
        width: 300px;
    }
  .proposal__saved {
    width: 350px;
  }
  .documents {
    &__container {
      width: 350px;
    }
  }
  .profile {
    width: 350px;
    height: auto;
    &__container {
        flex-direction: column;
    }
    &__title{
        width: 100%;
        text-align: center;
    }
    &__data{
        margin-top: 20px;
        & p{
            margin: 5px 0;
            line-height: 20px;
        }
    }
  }
  .activities {
    width:390px;
    &__event {
      width: 350px;
    }
  }
}
.page__wrapper-box {
  justify-content: center;
}
