.calendar {
  @include flex-center;
  justify-content: space-between;
  background: rgba(255, 255, 255, 0.51);
  border-radius: 43px;
  height: 170px;
  position: relative;
  &__day {
    @include flex-column-center;
    justify-content: space-between;
    margin: 15px;
    height: 100px;
    width: 60px;
    &--container {
      margin: 20px;
      @include flex-center;
    }
  }
  &__month {
    position: absolute;
    top: 5px;
    left: 120px;
    text-transform: capitalize;
    font-size: 20px;
  }
  &__label {
    &--date {
      @include flex-column-center;
      font-size: 16px;
      font-weight: 600;
      width: 67px;
      height: 67px;
      border-radius: 50%;
      background-color: #fff;
      box-shadow: 0px 4px 4px rgba(206, 33, 64, 0.31);
      transform: translateY(-2px);
    }
    &--name {
      font-weight: light;
      font-size: 14px;
      margin-bottom: 10px;
    }
  }
  &__arrow {
    cursor: pointer;
    margin: 40px;
    width: 37px;
    height: 37px;
    border-radius: 9px;
    background-color: #000;
    background-image: url(../assets/SlideArrow.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 32px 14px;
    &--right {
      transform: rotate(180deg);
    }
  }
}
.today {
  background-color: #000;
  border-radius: 30px;
  & h5 {
    color: #fff;
  }
}
.evented {
  background: #e42f4f;
  color: #fff;
}
