@mixin flex{
    display: flex;
}
@mixin flex-center{
    @include flex();
    align-items: center;
    justify-content: center;
}
@mixin flex-between{
    @include flex();
    align-items: center;
    justify-content: space-between;
}

@mixin flex-around{
    @include flex();
    align-items: center;
    justify-content: space-around;
}

@mixin flex-column-center{
    @include flex();
    @include flex-center();
    justify-content: center;
}


@mixin button-sm{
    @include flex-center();
    cursor: pointer;
    padding: 10px 30px;
    background-color: rgba($color: #fff, $alpha: 0.0);
    color: black;
    font-weight: bold;
    font-size: 16px;
    border: 0;
    font-family: 'Montserrat Alternates', sans-serif;
    & span{
        margin-left: 5px;
        height: 24px;
        & svg{
            font-size: 24px;
        }
        color: black;
    }
}