@mixin flex{
    display: flex;
}
@mixin flex-center{
    @include flex();
    align-items: center;
    justify-content: center;
}
@mixin flex-between{
    @include flex();
    align-items: center;
    justify-content: space-between;
}

@mixin flex-around{
    @include flex();
    align-items: center;
    justify-content: space-around;
}

@mixin flex-column-center{
    @include flex();
    @include flex-center();
    flex-direction: column;
    justify-content: center;
}


@mixin button-sm{
    @include flex-center();
    outline: none;
    user-select: none;
    cursor: pointer;
    padding: 10px 30px;
    background-color: rgba($color: #fff, $alpha: 0.0);
    color: black;
    font-weight: bold;
    font-size: 16px;
    border: 0;
    font-family: 'Montserrat Alternates', sans-serif;
    & span{
        margin-left: 5px;
        height: 24px;
        & svg{
            font-size: 24px;
        }
        color: black;
    }
}

@mixin button-sm-field{
    @include flex-center();
    user-select: none;
    cursor: pointer;
    outline: none;
    padding: 10px 30px;
    background-color: rgba($color: #000, $alpha: 1);
    font-weight: bold;
    font-size: 16px;
    border-radius: 36px;
    border: 0;
    font-family: 'Montserrat Alternates', sans-serif;
    & i{
        text-shadow: 0px 0px 15px #FFFFFF;
        color: #FFFFFF;
    }
    & span{
        margin-left: 5px;
        height: 24px;
        & svg{
            font-size: 24px;
        }
        color: black;
    }
}

@mixin button-xl-field{
    @include button-sm-field();
    padding:  20px 60px !important;
}

@mixin form-input{
    background: #FFFFFF;
    border-radius: 36px;
    outline: none;
    border: none;
    padding: 18px 20px;
    min-width: 230px;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    &::placeholder{
        color:lightgray;
        font-family: 'Montserrat Alternates', sans-serif;
        font-size: 18px;
    }
}