@mixin flex{
    display: flex;
}
@mixin flex-center{
    @include flex();
    align-items: center;
    justify-content: center;
}
@mixin flex-between{
    @include flex();
    align-items: center;
    justify-content: space-between;
}

@mixin flex-around{
    @include flex();
    align-items: center;
    justify-content: space-around;
}

@mixin flex-column-center{
    @include flex-center();
    flex-direction: column;
}


@mixin button-sm{
    @include flex-center();
    outline: none;
    user-select: none;
    cursor: pointer;
    padding: 10px 30px;
    background-color: rgba($color: #fff, $alpha: 0.0);
    color: black;
    font-weight: bold;
    font-size: 16px;
    border: 0;
    font-family: 'Montserrat Alternates', sans-serif;
    & span{
        margin-left: 5px;
        height: 24px;
        & svg{
            font-size: 24px;
        }
        color: black;
    }
}

@mixin button-sm-field{
    @include flex-center();
    transition: .3s;
    user-select: none;
    cursor: pointer;
    outline: none;
    height: 50px;
    width: 230px;
    background: #E43050;
    box-shadow: 0px 4px 6px rgba(206, 33, 64, 0.31);
    border-radius: 17px;
    font-weight: bold;
    font-size: 16px;
    border: 0;
    font-family: 'Montserrat Alternates', sans-serif;
    & i{
        color: #FFFFFF;
    }
    & span{
        margin-left: 5px;
        height: 24px;
        & svg{
            font-size: 24px;
        }
        color: black;
    }
    &:active{
        transform: scale(0.98);
    }
}

@mixin button-xl-field{
    @include button-sm-field();
    padding:  20px 60px !important;
}

@mixin form-input{
    background: #FFFFFF;
    outline: none;
    border: none;
    padding: 17px 0 17px 43px;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    box-shadow: 0px 4px 34px -4px rgba(0,0,0, 0.25);
    border-radius: 21px;
    &::placeholder{
        color:lightgray;
        font-family: 'Montserrat Alternates', sans-serif;
        font-size: 18px;
    }
}