.profile {
  width: 750px;
  padding: 40px;
  margin: 20px;
  height: 200px;
  background-color: #fff;
  border-radius: 41px;
  &__title {
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: bold;
    width: 90%;
  }
  &__container {
    @include flex;
    align-items: center;
  }
  & .auth__form--avatar {
    width: 140px;
    height: 140px;
    &::after {
      width: 143px;
      height: 143px;
    }
  }
  &__data {
    margin-left: 30px;
    transform: translateY(-20px);
  }
  &__name {
    font-size: 24px;
    font-weight: 700;
    display: flex;
    align-items: center;
    &::after {
      color: #fff;
      border-radius: 6px;
      margin-left: 20px;
      font-size: 15px;
      background-color: #e43050;
      padding: 8px 13px;
      content: attr(data-course);
    }
  }
  &__entry{
    margin: 3px 0;
    & b{
        font-weight: bold;
        margin-right: 10px;
    }
    & i{
        color: #e43050;
    }
  }
}
