.navbar{
    background: rgba(255, 255, 255, 0.5);
    border-radius: 45px;
    user-select: none;
    height: 1080px;
    width: 160px;
    margin-left: 10px;
    z-index: 100;
    @include flex-column-center;
    transition: .3s;
    margin-right: 20px;
    &::after{
        content: '';
        position: absolute;
        left: 0;
        z-index: 100;
        width: 70px;
        z-index: -1;
        top: 0;
        bottom: 0;
        height: 100%;
        right: 0;
        &:hover{
            width: 300px;
            // background-color: #f1f1f1;
            & .navbar__menu--item{
                width: 250px;
                border-radius: 50px;
                & p{
                    color: #000000;
                }
                & img{
                    transform: translate(-70px);
                }
            }
            & .navbar__fill-bg{
                opacity: 1;
            }
        }
    }
    &__glass{
        width: 100%;
        height: 100%;
        opacity: 0;
        position: absolute;
        z-index: -100;
        background: rgba($color: #000000, $alpha: 0.35);
    }
    &:hover{
        width: 300px;
        // background-color: #f1f1f1;
        & .navbar__menu--item{
            width: 250px;
            border-radius: 50px;
            & p{
                color: #000000;
            }
            & img{
                transform: translate(-70px);
            }
        }
        & .navbar__fill-bg{
            opacity: 1;
        }
    }
    &__menu{
        transform: translateY(-100px);
        &--item{
            margin: 25px;    
            cursor: pointer;    
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 10px;
            width: 55px;
            height: 55px;
            overflow: hidden;
            border-radius: 20px;
            transition: .3s;
            border-radius: 50%;
            & img{
                transition: .3s;
                position: absolute;
            }
            &:hover{
                box-shadow: 0px 4px 12px -3px #FF002D;
                background-color: #fff;
            }
            &-label{
                transition: .3s;
                transform: translateX(30px);
                font-size: 18px;
                font-weight: 500;
                color:rgba($color: #000000, $alpha: 0.0);
            }
        }
    }
    &__logo{
        margin-top: 40px;
    }
    justify-content: space-between;
}
.active{
    width: 55px;
    height: 55px;
    background-color: #fff;
    box-shadow: 0px 4px 12px -3px #FF002D;
}
.glass-show{
    z-index: 1;
    display: block;
    animation-name: glassShow;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    opacity: 1;
}
.glass-hide{
    animation-name: glassHide;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    z-index: -100;
    opacity: 0;
}
@keyframes glassShow {
    0%{
        display: block;
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes glassHide {
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        z-index: -100;
    }
}