.notification {
  z-index: 1;
  cursor: context-menu;
  user-select: none;
  position: fixed;
  @include flex-column-center;
  justify-content: flex-end;
  bottom: 50px;
  left: 50px;
  font-size: 16px;
  &__item {
    min-width: 20vw;
    margin: 5px 0;
    line-height: 20px;
    padding: 20px;
    border-radius: 10px;
    & b {
      font-weight: 600;
    }
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.15);
    color: #000;
    background: linear-gradient(
      106.54deg,
      rgb(205, 255, 231) 3.61%,
      rgb(208, 235, 255) 40.26%,
      rgb(181, 220, 255) 69.88%,
      rgb(185, 192, 255) 100%
    );
}
}
